<section class="board-container">
  <section class="board">
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>

    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>

    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>

    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>

    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>

    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>

    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>

    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
    <mori-card></mori-card>
  </section>
</section>
